.App {
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 3fr 5fr 2fr;
  grid-gap: 1rem;
  padding: 1rem;
  background-color: #F9F9F9;
  color: #3D3D3D;
}


.Projects {
  grid-column: 1 / 2;
}

.Todo {
  grid-column: 2 / 3;
}

.Calendar {
  grid-column: 3 / 4;
}

h3 {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #8999ae;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  background-color: #f2f2f2;
  box-shadow: 0 2px 3px #B0C4DE;
}

li input[type="checkbox"] {
  margin-right: 0.5rem;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.statistics {
  margin-top: 1rem;
}

h4 {
  font-size: 1.2rem;
  color: #8999ae;
}

h5 {
  margin-top: 0;
  color: #8999ae
}

article {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  color: #666;
}

.currentDate {
  background-color: #a8c5eb;
}
.currentDate h4 {
  color: #F9F9F9
}
.currentDate article {
  color: #F9F9F9
}

.hero {
  grid-column: 1/4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
}

.hero-text {
  flex-basis: 60%;
  padding-right: 1rem;
}

.hero-text h1 {
  font-size: 3rem;
  color: #B0C4DE
}

.Projects li:hover {
  background-color: #bebebe;
}